/* Header.css */
.site-header {
  background-color: #fff; /* Ensure the background color is set */
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1020; /* Ensures the header stays above other content */
}

/* Top Bar */
.top-bar {
  background-color: #f4f7f9; 
  color: white;
}

.top-bar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .left-column {
  display: flex;
  align-items: center;
}

.top-bar .text,
.top-bar .office-hour {
  margin-right: 1rem;
}

.top-bar .right-column {
  display: flex;
  align-items: center;
}

.top-bar .phone-number {
  font-weight: bold;
}

/* Additional specificity to ensure styles are applied */
.site-header .navbar {
  background-color:#ffffff!important; /* Use !important if necessary */
}

/* .site-header .nav-link {
  color: #007bff !important; } */
  .ms-auto .bttnn{
    background-color: red;
    border:none;
    display: inline;
  }
  .ms-auto button{
  display: inline;
  }
